@{
    ViewData["Title"] = "Home Page";
}
@model EducationPortalASP.ViewModel.HomeViewModel

@if (Model.User != null)
{
    @section UserSection {
        <a asp-area="" asp-controller="Profile" class="submenu-link">@Model.User.UserName</a>
        <ul class="submenu" style="width: 100%">
            <li><a asp-area="" asp-controller="Profile">Профиль</a></li>
            <li><a asp-area="" asp-controller="User" asp-action="LogOff">Выход</a></li>
        </ul>
    }
}

<content>
    <filter class="course-filter">
        <label>Список курсов</label>
        <form class="enter_form" name="filter">
            <input type="text" name="namecourse">
            <button><i aria-hidden="true" class="fa fa-search"> </i> Поиск</button>
        </form>
    </filter>
    <div class="course-list-container">
        @foreach (Course course in Model.Courses)
        {
            <div class="item">
                <div class="item-icon">
                    <i class="fa fa-book" style="color: #6ACAB4"></i>
                </div>
                <div class="item-content">
                    <div id="title"><a asp-action="Course" asp-route-id="@course.Id">@course.Name</a></div>
                    <div id="descript">@course.Descript</div>
                    <div id="dificult">
                        Сложность:
                        @for (int i = 0; i < (int)course.Dificult; i++)
                        {
                            <i class="fa fa-star"> </i>
                        }
                    </div>
                    <div id="teacher">Преподаватель: <a asp-area="" asp-controller="Profile" asp-action="Index">@course.User.FullName</a></div>
                </div>
                <div class="fast-info">
                    <label><i class="fa fa-money"></i>@course.Price $</label>
                    <label><i class="fa fa-users"></i>@(new Random().Next(0, 1000))</label>
                    <label><i class="fa fa-star"> </i><div>@(new Random().Next(1, 100) / 10)</div></label>
                </div>

            </div>
        }

    <!--
        <div class="container">
        <a href = "main/add-employee">ДОБАВИТЬ СОТРУДНИКА </a>
        <a href = "main/report-day">ОТЧЁТ ЗА ДЕНЬ</a>
        <a href = "main/stat">СТАТИСТИКА</a>
        <a href = "main/add-report">ДОБАВИТЬ ОТЧЁТ</a>
        <a href = "main/delete-employee">УВОЛИТЬ СОТРУДНИКА</a>
    -->
    </div>
</content>