
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EducationPortalASP.ViewModel.ProfileViewModel
@if (Model != null)
{
    @section UserSection {
        <a asp-area="" asp-controller="Profile" class="submenu-link">@Model.UserName</a>
        <ul class="submenu" style="width: 100%">
            <li><a asp-area="" asp-controller="Profile">Профиль</a></li>
            <li><a asp-area="" asp-controller="User" asp-action="LogOff">Выход</a></li>
        </ul>
    }
}

<content>
    <div class="profile-main-info">
        <div class="profile-icon">
            <i class="fa fa-user-circle-o"></i>
        </div>
        <div class="profile-description">
            <div id="title">@Model.UserName</div>
            <div id="other-info">
                <label id="fullname">ФИО: @Model.FullName</label>
                <label id="skills">Навыки: @Model.Skills</label>
                <label id="rating">Рейтинг: @Model.Rating</label>
                <label id="serteficate">Сертификат: @Model.Sertificate</label>
                <label id="education">Образование: @Model.Education</label>
                <label id="status">Статус: Студент</label>
                <label id="edit"><a href="">Редактировать</a></label>
            </div>

        </div>
    </div>
    <a asp-area="" asp-controller="Course" asp-action="Create" ><button id="button-create-course"><i aria-hidden="true" class="fa fa-search"> </i> Добавить курс</button></a>
</content>
<content>
    <div class="choice-list">
        <label id="now-course"><a href="">Текущие курсы</a></label>
        <label id="complete-course"><a href="">Пройденные курсы</a></label>
        <label id="my-course" style="background: #6ACAB4"><a href="">Мои курсы</a></label>
    </div>
    <div class="profile-course-list">
        <div class="course-list-container">
            @foreach (Course course in Model.Courses)
            {
                <div class="item">
                    <div class="item-icon">
                        <i class="fa fa-book" style="color: #6ACAB4"></i>
                    </div>
                    <div class="item-content">
                        <div id="title"><a asp-area="" asp-controller="Home" asp-action="Course" asp-route-id="@course.Id">@course.Name</a></div>
                        <div id="descript">@course.Descript</div>
                        <div id="dificult">
                            Сложность:
                            @for (int i = 0; i < (int)course.Dificult; i++)
                            {
                                <i class="fa fa-star"> </i>
                            }
                        </div>
                        <div id="teacher">Преподаватель: <a asp-area="" asp-controller="Profile" asp-action="Index">@course.User.FullName</a></div>
                    </div>
                    <div class="fast-info">
                        <label><i class="fa fa-money"></i>@course.Price $</label>
                        <label><i class="fa fa-users"></i>@(new Random().Next(0, 1000))</label>
                        <label><i class="fa fa-star"> </i><div>@(new Random().Next(1, 100) / 10)</div></label>
                    </div>

                </div>
            }
        </div>
    </div>
</content>